
.navbar {
    background-color: #555;
    color: white;
    margin-bottom: 10px;
    border-radius: 0;
}

.row.content {height: 460px}

.sidenav {
    padding-top: 40px;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: relative;
    left:0px;
    bottom:-200px;
    height:70px;
    width:100%;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}
h3 {
    color: rgb(0, 0, 255);
}
.rating {
    color: goldenrod;
    text-decoration: none;
    font-size: 3em;
}
.star {
    color: lightyellow;
    text-decoration: none;
    font-size: 1em;
}
#svg{
    border-color: green;
}
text{
    stroke:#00CC00;
    font-size: 16px;
    stroke-width: 0.5px;
}

#tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#tableau td {
    padding: 8px;
    border-bottom: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0 ;
    box-shadow: 6px 6px 6px #D0D0D0 inset;
}
#tableau tr td {
    background: #555;
    font-size: 16px;
    color: white;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: darkred;
}
#tableau a:hover {
    text-decoration:underline;
}

.white{
    color: white;
}
.table{
    border-collapse: collapse;
    width:80%;
    margin-top: 0px;
    margin-left: 350px;
    margin-right: 500px;
    margin-bottom:700px;
    padding:10px;
}

.tr{

    text-align: left;
    padding:8px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left: 10px;

}

.th{ 
    color:white;
    border:1px solid #1b6d85;  
}
.td{
    width:300px;
    margin-top: 0px;
    margin-left:5px;
    background-color:#D0D0D0;
    color:black;
    border:1px solid #1b6d85; 
    padding:10px; 
    text-align: center;
    float:left;  
}

.td2{ 
    width:350px;
    background-color:#D0D0D0;
    color:black;
    border:1px solid #1b6d85; 
    padding:10px;
    margin-right: 460px;
    float:right;
    height:500px;    
}
.tu{  
    color:gray;
    border:1px solid #1b6d85; 
    margin-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color:white; 
}

.tu2{
    color:gray;
    border:1px solid #1b6d85; 
    margin-left: 0px;
    margin-right:10px;
    height:450px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color:white;
}

.Logo-Ville-St-Jean{
    /*margin-top:10px;*/
    position: relative;
    width: 10px; 
    height: 10px;
} 

.ImagePaysage{
    width:1000px;
    margin-left: 2px;
    margin-right: 200px;
    
} 
#photopaysage{
    width: 900px;
    height: 300px;
    animation: bounce  ;
    animation-duration: 13s; 
    animation-timing-function: ease;
    animation-delay: 1s;
   
}
@keyframes bounce{
     from {transform: translateY(0);}
     50%  {transform: translateY(20px);}
     to   {transform: translateY(0);}
}
.jstree {
  margin-top: 20px;
  color: blue;
  font-size: 20px;
}

.navigation{
    padding-top: 13px;
}

.tooltip{
     
}
